workflows/3-uvedomleniya-po-sobytiyam.json
{
  "name": "3 Уведомления по событиям",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "event-notification",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "b7efff57-6531-4f4f-9cb5-f406deb938f6",
      "name": "Webhook",
      "webhookId": "66607971-033e-4d23-a7a3-1b5ed2b600e9"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, chat_id, first_name \nFROM users \nWHERE chat_id = {{ $json.body.chat_id }}\n  AND is_active = true\nLIMIT 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "60dc198f-1eb5-4485-8ccb-dcdefd5dc177",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "tagm7F4r6obhBUj3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1861c4be-d879-4b29-9c7c-6efaf49ce52f",
              "leftValue": "={{ $json.chat_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "efb5bd39-7ef5-40d4-ac1b-1d21f048ba33",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "Это работает!!!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        -96
      ],
      "id": "83758a08-a1e4-4d2e-b36a-03262c9944bd",
      "name": "Send a text message",
      "webhookId": "a75a19f5-48c8-45fd-84ee-10ede6152afb",
      "credentials": {
        "telegramApi": {
          "id": "h7XBYOdBOdCzCf6X",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bb5f3c52-34cc-4304-a1a3-4db2c959a3a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "763aa91d67b782b3406f877e258f83d8e4481b5e193e267cc175d206ecae642c"
  },
  "id": "o9RiEfSQMgXck1vu",
  "tags": []
}