workflows/4-obrabotchik-ocheredi.json
{
  "name": "4. Обработчик очереди с retry",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "56ce1c05-2dfa-4486-981a-567abbd7ead0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT mq.id, mq.user_id, mq.message_text, mq.attempts, u.chat_id, u.first_name\nFROM message_queue mq\nJOIN users u ON mq.user_id = u.id\nWHERE mq.status = 'pending' \n   AND mq.attempts < 3\n   AND mq.scheduled_at <= NOW()\n   AND u.is_active = true\nORDER BY mq.scheduled_at ASC\nLIMIT 20\nFOR UPDATE SKIP LOCKED",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        200,
        0
      ],
      "id": "ebd4747e-e852-441e-86d4-5197feae8c64",
      "name": "SELECT pending messages",
      "credentials": {
        "postgres": {
          "id": "tagm7F4r6obhBUj3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        0
      ],
      "id": "412409e5-e62f-4ea3-a78a-27eec92b78ec",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE message_queue SET status = 'sending' WHERE id = {{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        600,
        0
      ],
      "id": "99f59573-56a2-4708-b1ba-77e2f0fa2d14",
      "name": "UPDATE to sending",
      "credentials": {
        "postgres": {
          "id": "tagm7F4r6obhBUj3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        800,
        0
      ],
      "id": "d5d742b6-0d3d-4172-aae8-6738d6f9791e",
      "name": "Wait",
      "webhookId": "57b69065-af4c-4c5a-961c-aac9a0fa6646"
    },
    {
      "parameters": {
        "chatId": "={{ $('Loop Over Items').item.json.chat_id }}",
        "text": "={{ $('Loop Over Items').item.json.message_text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1000,
        0
      ],
      "id": "c8089741-ee21-4842-8de8-21a4b24e342d",
      "name": "Telegram",
      "webhookId": "c342aee6-a79a-4730-8af4-42334921a6ad",
      "credentials": {
        "telegramApi": {
          "id": "h7XBYOdBOdCzCf6X",
          "name": "Telegram account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE message_queue SET status = 'sent', sent_at = NOW() WHERE id = {{ $('Loop Over Items').item.json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1200,
        0
      ],
      "id": "8380ebb7-0ac1-41f1-a4da-fc158b9de0cd",
      "name": "UPDATE to sent",
      "credentials": {
        "postgres": {
          "id": "tagm7F4r6obhBUj3",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "SELECT pending messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECT pending messages": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        null,
        [
          {
            "node": "UPDATE to sending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE to sending": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "UPDATE to sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE to sent": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fixed-loop-queue-worker",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "XPzG76maj8aJeFnE",
  "tags": []
}
