workflows/client-api-send-message.json
{
  "name": "Client API: Отправить сообщение",
  "nodes": [
    {
      "parameters": {
        "path": "send-telegram",
        "options": {},
        "responseMode": "lastNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "id": "webhook-trigger",
      "name": "Webhook",
      "webhookId": "telegram-send"
    },
    {
      "parameters": {
        "url": "http://telegram-client:3000/send",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"userId\": $json.userId, \"message\": $json.message } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [200, 0],
      "id": "send-to-telegram",
      "name": "Отправить в Telegram"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"messageId\": $json.messageId } }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [400, 0],
      "id": "respond",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Отправить в Telegram", "type": "main", "index": 0}]]
    },
    "Отправить в Telegram": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
