workflows/client-api-get-dialogs.json
{
  "name": "Client API: Список чатов",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "manual-trigger",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "url": "http://telegram-client:3000/dialogs?limit=50",
        "method": "GET",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [200, 0],
      "id": "get-dialogs",
      "name": "Получить чаты"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "string": [
            {
              "value1": "={{ $json.isGroup }}",
              "value2": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [400, 0],
      "id": "filter-groups",
      "name": "Только группы"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Получить чаты", "type": "main", "index": 0}]]
    },
    "Получить чаты": {
      "main": [[{"node": "Только группы", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
